<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xk.adm.domain.dao.mapper.DictCategoryMapper">

    <resultMap id="ItemMap" type="com.xk.adm.domain.model.bo.DictItemBO">
        <id property="itemUuid" column="uuid"/>
        <result property="categoryCode" column="category_code"/>
        <result property="itemCode" column="item_code"/>
        <result property="itemName" column="item_name"/>
        <result property="sortOrder" column="sort_order"/>
        <result property="deleted" column="deleted"/>
        <result property="deletedTime" column="deleted_time"/>
        <result property="createdBy" column="created_by"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="updatedTime" column="updated_time"/>
    </resultMap>

    <resultMap id="CategoryWithItems" type="com.xk.adm.domain.model.bo.DictCategoryBO">
        <id property="uuid" column="uuid"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="deleted" column="deleted"/>
        <result property="deletedTime" column="deleted_time"/>
        <result property="createdBy" column="created_by"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="updatedTime" column="updated_time"/>

        <collection property="itemList" resultMap="ItemMap" columnPrefix="item_"/>
    </resultMap>

    <select id="getDictCategory" parameterType="string" resultMap="CategoryWithItems">
        select

        dc.uuid,
        dc.code,
        dc.name,
        dc.description,
        dc.deleted,

        di.uuid as item_uuid,
        di.category_code as item_category_code,
        di.item_code as item_item_code,
        di.item_name as item_item_name,
        di.sort_order as item_sort_order,
        di.deleted as item_deleted

        from dict_category dc
        left join dict_item di
        on dc.code = di.category_code
        and di.deleted = '0'
        where dc.code = #{categoryCode}
        and dc.deleted = '0'
        order by di.sort_order
    </select>

</mapper>
