<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xk.adm.domain.model.po.DictItemPO">


    <resultMap id="DictItemResultMap" type="com.xk.adm.domain.model.po.DictItemPO">
        <result property="categoryCode" column="category_code"/>
        <result property="itemCode" column="item_code"/>
        <result property="itemName" column="item_name"/>
        <result property="sortOrder" column="sort_order"/>
        <result property="deleted" column="deleted"/>
        <result property="deletedTime" column="delete_time"/>
        <result property="createdBy" column="created_by"/>
        <result property="createdTime" column="create_time"/>
        <result property="updatedBy" column="update_by"/>
        <result property="updatedTime" column="update_time"/>
    </resultMap>


    <select id="findByCategoryCodeAndDelete0" resultMap="DictItemResultMap">
        SELECT * FROM dict_item  WHERE category_code  = #{categoryCode} AND deleted ='0'
    </select>

    <delete id="deleteItems">
        DELETE FROM dict_item
        WHERE uuid IN
        <foreach collection="items" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>



</mapper>